@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle Londres 4 5C<br />
    Ripagaina, Pamplona<br />
    <abbr title="Phone">Phone:</abbr>
    +34 649 15 78 76
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:stidiek@gmail.com">stidiek@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:stidiek@gmail.com">stidiek@gmail.com</a>
</address>